# Virtual environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Raw Kaggle dataset
data/raw/
*.zip

# Processed datasets and generated model outputs
data/processed/*.parquet
data/processed/*.csv

# Python environment / local configuration
.env
.env.*

# VS Code
.vscode/